<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Products</title>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="admin-wrapper">
        <!-- Sidebar -->
        <nav class="sidebar">
            <ul>
                <li><a href="/admin"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                <li><a href="/admin/users"><i class="fas fa-users"></i> Users</a></li>
                <li><a href="/admin/products"><i class="fas fa-boxes"></i> Products</a></li>
                <li><a href="/admin/orders"><i class="fas fa-shopping-cart"></i> Orders</a></li>
            </ul>
        </nav>

        <div class="main-content">
            <h1>Manage Products</h1>
            <br>
            <div class="add-product-form">
                <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" placeholder="Product Name" required>
                    <input type="number" name="price" placeholder="Price" required>
                    <textarea name="description" placeholder="Description" required></textarea>
                    <input type="file" name="imageFile" required>
                    <label for="exclusive">Exclusive:</label>
                    <select name="exclusive" required>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <label for="rating">Rating:</label>
                    <select name="rating" required>
                        <option value="1">★☆☆☆☆</option>
                        <option value="2">★★☆☆☆</option>
                        <option value="3">★★★☆☆</option>
                        <option value="4">★★★★☆</option>
                        <option value="5">★★★★★</option>
                    </select>
                    <button type="submit">Add Product</button>
                </form>
            </div>
        </div>

        
    </div>
</body>
</html>
