<div class="header">
    <a href="/"><b>MarvelPopExpress</b></a>
    <nav>
        <ul>
            <li><a href="/" id="hover">Home</a></li>
            <li><a href="/allproducts" id="hover">Products</a></li>
            <li><a href="/about" id="hover">About</a></li>
            <a href="/login">Login</a>
            <!-- <li class="dropdown">
              <a href="#" class="dropbtn">Account <i class="fa-solid fa-caret-down"></i> </a>
              <div class="dropdown-content">
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
              </div>
            </li> -->
            <li class="dropdown">
              <a href="#" class="dropbtn">More <i class="fa-solid fa-caret-down"></i></a>
              <div class="dropdown-content">
                <a href="/contact">Contact</a>
                <a href="/faq">FAQ</a>
              </div>
            </li>
          </ul>
    </nav>
    <div class="socials">
        <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.me" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
</div>
<br>
<hr id="hr">