<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarvelPop - About</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <a href="/"><b>MarvelPopExpress</b></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <div class="socials">
            <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://wa.me" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
        </div>
    </div>
    <br>
    <hr id="hr">

    <div class="about-us">
        <img src="/images/avengers_logo.png" alt="Avengers Logo" class="avengers-logo">
        <div class="about-text" data-aos="fade-left">
            <h2>About Marvelpop</h2>
            <p>
                At MarvelPop, we are passionate fans of the Marvel Universe, just like you. Our journey began with a simple idea: to create a haven where fellow Marvel fans can find exclusive and rare Funko Pop figures of their favorite characters. Whether you're a fan of the Avengers, the X-Men, or the Guardians of the Galaxy, we’ve got something special for you.
            </p>
        </div>
    </div>

    <div class="mission">
        <div class="mission-text">
            <h2>Our mission</h2>
            <p>
                Our mission is to bring the Marvel Universe to life through our curated collection of Funko Pop figures. We are dedicated to providing our customers with the highest quality products and an exceptional shopping experience. Each Funko Pop in our collection is carefully selected to ensure it meets the expectations of collectors and fans alike.
            </p>
        </div>
        <img src="/images/marvel-group.png" alt="All marvel character group photo" class="marvel-group">
    </div>


    <hr>
    <div class="footer">
        <div class="customer-care">
            <h2>Customer Care</h2>
            <ul>
                <li><a href="help-center.html">Help Center</a></li>
                <li><a href="how-to.html">How to</a></li>
                <li><a href="returns-refunds.html">Returns & Refunds</a></li>
                <li><a href="contact-us.html">Contact us</a></li>
            </ul>
        </div>

        <div class="about">
            <h2>About MarvelPop</h2>
            <ul>
                <li><a href="about-us.html">About us</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="/contact">Contact us</a></li>
                <li><a href="careers.html">Careers</a></li>
            </ul>
        </div>
        
        <div class="connect-with-us">
            <h2>Connect With us</h2>
            <div class="social-links">
              <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
              <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://wa.me" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
            </div>
            <div class="social-links2">
              <a href="https://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
              <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
              <a href="https://www.tiktok.com" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <img src="/images/store.png" alt="Playstore and appstore">
        </div>
        <div class="card">
            <span class="card__title">MarvelPop Newsletter</span>
            <p class="card__content">Join our mailing list and be the first to hear about new releases, upcoming events, and more!</p>
            <div class="card__form">
                <input placeholder="Your Email" type="text">
                <button class="sign-up"> Sign up</button>
            </div>
        </div>
    </div>
    <div class="copyright">
        <h4><a href="/">MarvelPopExpress</a></h4><br>
        <h5>Heros POP, Collect, Marvel On</h5><br>
        <h6>&copy; <b>2024</b> MarvelPopExpress. <b>All Rights Reserved</b></h6>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>