<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarvelPop - About</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about-us">
        <img src="/images/avengers_logo.png" alt="Avengers Logo" class="avengers-logo">
        <div class="about-text" data-aos="fade-left">
            <h2>About Marvelpop</h2>
            <p>
                At MarvelPop, we are passionate fans of the Marvel Universe, just like you. Our journey began with a simple idea: to create a haven where fellow Marvel fans can find exclusive and rare Funko Pop figures of their favorite characters. Whether you're a fan of the Avengers, the X-Men, or the Guardians of the Galaxy, we’ve got something special for you.
            </p>
        </div>
    </div>

    <div class="mission">
        <div class="mission-text">
            <h2>Our mission</h2>
            <p>
                Our mission is to bring the Marvel Universe to life through our curated collection of Funko Pop figures. We are dedicated to providing our customers with the highest quality products and an exceptional shopping experience. Each Funko Pop in our collection is carefully selected to ensure it meets the expectations of collectors and fans alike.
            </p>
        </div>
        <img src="/images/marvel-group.png" alt="All marvel character group photo" class="marvel-group">
    </div>


    <%- include('./partials/footer.ejs') %>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>