<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarvelPop - Contact</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="container">
      <div class="contact-image">
          <img src="/images/loki.png" alt="">
      </div>
      <div class="form">
          <h1>Contact Us</h1>
          
          <form action="/contact/submit-contact" method="POST">
              <div class="row">
                <div class="column">
                  <label>Name</label>
                  <input type="text" name="name" placeholder="Enter your name..." required>
                </div>
                <div class="column">
                  <label>Email Address</label>
                  <input type="email" name="email" placeholder="Your email address..." required>
                </div>
              </div>
              <div class="row">
                <div class="column">
                  <label>Subject</label>
                  <input type="text" name="subject" placeholder="Enter Subject..." required>
                </div>
                <div class="column">
                  <label>Enquiry Type</label>
                  <select class="select column" name="enquiryType" required>
                    <option class="column" value="general">General Enquiry</option>
                    <option class="column" value="order">Order Enquiry</option>
                    <option class="column" value="payment">Payment Enquiry</option>
                    <option class="column" value="shipping">Shipping Enquiry</option>
                    <option class="column" value="returns">Returns Enquiry</option>
                  </select>
                </div>
              </div>
              <label>Your Message</label>
              <textarea name="message" placeholder="Enter your message..." required></textarea>
              <% if (message) { %>
                  <p style="color: green;"><%= message %></p>
              <% } %>
              <% if (error) { %>
                  <p style="color: red;"><%= error %></p>
              <% } %>
              <button type="submit">Submit</button>
            </form>
      </div>
  </div>

  <%- include('./partials/footer.ejs') %>

  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
      AOS.init();
  </script>
    </body>
</html>