<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarvelPop - Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style>
        .demo{
            width: 100vw;
            height: 120px;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="demo">
        <h1>Hi <%= user %>!</h1>
        <p>Welcome to your dashboard.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>