@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Merriweather", sans;
}

/* Admin Wrapper */
.admin-wrapper {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

@keyframes rotate3D {
  from {
      transform: rotateY(0deg);
  }
  to {
      transform: rotateY(360deg);
  }
}

nav img{
  width: 7vw;
  height: 15vh;
  margin-bottom: 20px;
  margin-left: 40px;
  animation: rotate3D 5s linear infinite;
  transform-style: preserve-3d;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin-bottom: 20px;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 18px;
}

.sidebar ul li a:hover {
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.add-product-form, .products-container {
  margin-bottom: 40px;
}

.add-product-form input, .add-product-form textarea, .add-product-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

.add-product-form button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  cursor: pointer;
}

.add-product-form button:hover {
  background-color: #218838;
}

.products-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.products-container li {
  margin: 10px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  width: 280px;
}

.products-container img {
  display: block;
  margin: 0 auto 10px;
  height: 15vh;
  width: 10vw;
  margin-bottom: 30px;

}

.products-container button {
  margin-top: 20px;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}

.products-container button:hover {
  background-color: #c82333;
}
.products-container ul li p{
  margin-bottom: 12px;
}

#edit{
  background-color: #528ce3;
}
#delete{
  background-color: #c82333;

}

#button{
  display: flex;
  gap: 15px;
}